body{
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    padding: 20px;
    border: 1px solid #dfdddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000027;
    background-color: #fff;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.forks {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}